<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Login
body
  h1 Sloggin through the Login
  form(method="POST" action="/login")
    h3 Log in to learn the secret!
    p username:
    input(type="text" name="username")
    p password:
    input(type="password" name="password")
    input(type="submit" value="Login")
